#root {
  min-width: 900px;
  min-height: 70vh;

  background: #141623;
  border-radius: 20px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

.todo-container {
  display: flex;
  gap: 1em;
}

h1 {
  color: #eee;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

.add-todo-bar {
  all: unset;
  height: 19px;
  padding: 0.5em;
  text-align: left;

  font-size: large;
  font-weight: 600;

  background: #141623;
  border: 2px solid #34109a;
  border-color: #34109a;
  border-radius: 5px 0px 0px 5px;
  color: #eee;
}

.add-todo-button {
  color: #eee;
  height: fit-content;
  padding: 0.5em;

  background: #34109a;
  border-color: #34109a;

  font-size: large;
  font-weight: 600;

  border-radius: 0px 5px 5px 0px;
}

.todo-list-container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(155, 0, 250, 1) 0%,
    rgba(93, 12, 255, 1) 100%
  );
}

li:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(250, 0, 135, 1) 0%,
    rgba(255, 12, 241, 1) 100%
  );
}

li:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(17, 122, 255, 1) 0%,
    rgba(20, 159, 255, 1) 100%
  );
}

li:nth-child(4n + 4) {
  background: linear-gradient(to right, #f12711, #f5af19);
}

.todo-container {
  width: 100%;
  padding: 0.5em 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #eee;
  font-weight: 600;

  border-radius: 5px;
}

.todo-container p,div {
  padding: 0px 2em;
  font-size: 1.1rem;
}

.todo-container input {
  text-align: left;
  margin-left: 2em;
  font-size: 1.1rem;

  border: none;
  background: transparent;
  color: #eee;
  font-weight: 600;
}

.todo-buttons-container {
  display: flex;
  gap: 0.5em;
}

.ring {
  background: red !important;
}